Some of the code in this lab was copied from the solution at https://github.com/learn-co-curriculum/dsc-join-statements-lab/tree/solution

# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import pandas as pd
import sqlite3

conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [4]:
#Your code here
c.execute('''SELECT firstname, lastname FROM employees join offices using(officeCode) WHERE city = 'Boston' ''').fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [31]:
#Your code here
c.execute(''' SELECT officeCode, count(employeeNumber) as ce FROM employees 
                JOIN offices using(officeCode) GROUP BY officeCode HAVING ce = 0 ''').fetchall()

[]

## Write 3 Questions of your own and answer them

In [33]:
# Question 1. Which office has the most employees?
c.execute(''' SELECT officeCode, city, count(employeeNumber) as ce FROM
                employees join offices using(officeCode) ORDER BY ce DESC LIMIT 1 ''').fetchall()

[('1', 'San Francisco', 23)]

In [37]:
# Question 2. What is the name of the customer with the largest payment?
c.execute(''' SELECT customerName, amount FROM payments JOIN
                customers USING(customerNumber) ORDER BY amount DESC LIMIT 1''').fetchall()

[('FunGiftIdeas.com', '9977.85')]

In [44]:
# Question 3. What is the name of the product that is the most expensive and has been ordered
c.execute(''' SELECT productName FROM products JOIN orderDetails
                USING(productCode) ORDER BY priceEach DESC LIMIT 1''').fetchall()

[('1996 Moto Guzzi 1100i',)]

## Level Up: Display the names of each product each employee has sold

In [ ]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [ ]:
# Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!